.Toolbar{
    display: flex;
    justify-content: space-between;

    background-color: tomato;
    border: double 5px blue;
    font-size: 20px;
    color: white;
    font-family: 'Redressed', cursive; 
    padding: 15px;
    position: sticky;
    top:0;
    left:0;
    box-shadow: 0 0  50px rgb(12, 177, 12);
}