.Drawer .content {
    background-color: red;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px blue;
}

.open{
    transform: translateX(0);
}
.closed{
    transform: translateX(-260px);
}