
.Logo {
    display: flex;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: black;
    font-weight: 800;
   
  }
  .Logo img {
      width: 6rem;
    height: 4rem;
    margin: .5rem;
  }
  span{
    margin-top: 17px; font-size: 30px;
  }
