.Checkout{
display: flex;
justify-content: center;

flex-wrap: wrap;
align-items: center;
overflow-x:hidden;


}

@media (max-width: 549px) {
    .bold{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
