.AnimalPreview {
  flex: 0 0 400px;
  height: 100px;
  /* margin-right: 1rem;
  margin-bottom: 1rem; */
  border-radius: 100%;
  background-color: wheat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.color{
  margin-top: 1rem;
  border: 10px dotted black;
  border-radius: 30px  ;

  padding: 20px;
  width: 470px;
  height: 470px;
  background-color: rgb(15, 29, 90);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
