.AnimalPreview{
    margin-top: 0px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: chartreuse;
   
}
.color{
    /* flex: 370px; */
    height: 400px;
    width: 400px;
    border-radius: 50%;
   
}