
.Order .som {
    color: rgb(12, 75, 12);
    font-size: 25px;
}

.Order {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    min-width: 300px;
    margin: 10px;
    padding: 40px;

    border-radius: 20px;
    background-color: #dac384;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 10px black;

}
strong{font-weight: 600;}
h4{display: flex;
flex-direction: column;color:red; }

.Order span {
    font-weight: bold;
    font-size: 23px;
}

.Order li {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.Order li:nth-child(4) {
    display: flex;
    flex-direction: column;
}
