body{
    font-family: 'Redressed', cursive;
    margin: 0;
 background-image: url(./imges/body\ imges.jpg);opacity: 1;
   width: 100%;height: 100%;
background-repeat: no-repeat;
background-size: cover;


}