body{
    font-family: 'Redressed', cursive;
    margin: 0;
 background: url(./imges/html.png);
background-repeat: no-repeat;
background-size: cover;
overflow-x:hidden;
 min-width: 100%;
min-height: 100%;

}
