ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li{
  margin-right: 10px;
 
}
a{
   text-decoration: none;
   font-family: 'Quicksand', sans-serif;
}
a:hover{
  text-decoration: underline;
  background-color: blanchedalmond ;
  padding: 15px;
border-radius: 15px;
}

@media (max-width: 549px) {
    .Nav {
      display: none;
    }
  }