.AnimalAll {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
  }
  .AnimalAll img{
display: flex;
justify-content: space-between;
flex-direction: row;
  }