.AnimalAll {
   /* position: absolute; */
 
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  /* .AnimalAll img{
display: flex;
justify-content: cen;
flex-direction: row;
width: 40px;
height: 50px;
  } */
 .Ship{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
    width: 20px;
   
  }