.Auth{
    justify-content: center;
    text-align: center;
   background-color: rgb(138, 189, 247);
   min-width: 150px;
   min-height: 60px;
    padding: 20px;
border-radius: 15px;
border: 2px solid green;
}
.Auth input{
    margin-right: 15px;
    border-radius: 5px;
    height: 20px;
    margin-top: 10px;
   
}