
.Auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #dac384;
   min-width: 150px;
   min-height: 120px;
    padding: 20px;
border-radius: 15px;
border: 1px solid black;
font-family: 'Bebas Neue', cursive;
}

 .input{
    margin-right: 15px;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

input{margin-top: 10px;
height: 20px;border-radius: 5px;}

.color button{
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    width: 80px;
    border: none;
font-size: 30px;
    border-radius: 35px;
    font-family: 'Bebas Neue', cursive;
   background-color: green;color: white;
    font-size: 1rem;
}
.Auth h1{
    margin-top: 12px;
    -webkit-animation: pulsing 3s infinite;
    animation: pulsing 3s infinite;
    color: white;
 ;}
    
      @keyframes pulsing {
        0%{  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
        }
        50% {
          -webkit-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
        }
        100% {
          -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
        }
      }
