.Auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(212,180,50,1) 18%, rgba(187,218,56,1) 42%, rgba(222,60,120,1) 59%, rgba(112,225,63,1) 74%, rgba(90,45,253,1) 100%);
   min-width: 150px;
   min-height: 120px;
    padding: 20px;
border-radius: 15px;
border: 2px solid green;
font-family: 'Bebas Neue', cursive;
}
button{
  background-color: green;
  color: white;
  border: none;
font-weight: 600;
}
 .input{
    margin-right: 15px;
    

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
input{margin-top: 10px;
height: 20px;border-radius: 5px;}
.color{
    display: flex;
    flex-direction: row;
}
.color button{
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    font-size: 1rem;
}
.Auth h1{
    margin-top: 12px;
    -webkit-animation: pulsing 3s infinite;
    animation: pulsing 3s infinite;
    }
    
      @keyframes pulsing {
        0%{  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
        }
        50% {
          -webkit-transform: scale(1.0, 1.0);
          transform: scale(1.0, 1.0);
        }
        100% {
          -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
        }
      }
